.container {
    background-color: white;
    width: 16rem;
    height: 100vh;
    box-shadow: 2px 0px 10px grey;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.container::-webkit-scrollbar {
    width: 4px;
    height: 7px;
    background-color: transparent
}

.container::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
}

.imagecontainer {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 20px;
}

.welcomeText {
    overflow: hidden;
    font-size: 16px;
    color: black;
    margin: 15px 0 3px 10px;
}

.admin {
    color: grey;
    font-size: 12px;
    margin: 0 0 20px 10px;
}

.hr {
    border-top: 1px solid lightgray;
    opacity: 0.2;
    margin: 0;
}

.pages {
    display: flex;
    flex-direction: column;
}

.screenBox {
    display: flex;
    align-items: center;
    padding-left: 10px;
    margin-top: 0;
}

.heart {
    filter: grayscale(100%);
}

.screenName {
    padding: 0 0 0 35px;
    margin-bottom: 15px;
    color: black;
    font-size: 14px;
}

.logoutContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 30px;
    height: calc(100vh - 500px);
}

.logoutButton {
    background-color: #009A40;
    border: 0;
    border-radius: 25px;
    height: 35px;
    width: 50%;
    color: white;
}

.screenBox:hover p {
    color: #009A40;
}

.screenBox:hover {
    background-color: #009a4040;
}

.screenBox:hover .heart {
    filter: grayscale(0%);
}

.logoutButton:hover {
    background-color: #009a40be;
}