.container {
    background-color: white;
    width: 15%;
    height: 100vh;
    box-shadow: 2px 0px 10px grey;
}

.imagecontainer {
    display: flex;
    justify-content: center;
}

.logo {
    margin-top: 20px;
}

.welcomeText {
    overflow: hidden;
    font-size: 16px;
    color: black;
    margin: 15px 0 3px 10px;
}

.admin {
    color: grey;
    font-size: 12px;
    margin: 0 0 20px 10px;
}

.hr {
    border-top: 1px solid lightgray;
    opacity: 0.2;
}

.screenBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.screenName {
    padding: 0 0 0 35px;
    margin-bottom: 15px;
    color: black;
    font-size: 14px;
}