/* phonesize */
@media only screen and (max-width: 900px) {
  .orderData {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .section {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 25%;
  }

  .formRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .labelInput {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  .labelInputMedium {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .labelInputShort {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .formCard {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 20%;
    margin-top: 50px;
  }

  .formRowSmall {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    margin-top: 2%;
  }

  .printRow {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    width: 100%;
    height: 60px;
    justify-content: space-between;
  }

  .dropdown {
    background-color: white;
    color: black;
    height: 20px;
    width: 100%;
  }
}
