.container{
    display:flex;
    height:100%;
}

.header{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: space-between;
}

.goBack, .h1{
    margin-left:5%;
}

.title{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.exportButton{
    margin-top:20px;
    margin-right:5%;
    border:1px solid lightgray;
    background-color:white;
    color:black;
    width:150px;
    height:50px;
}