.container{
    display:flex;
    flex-direction: column;
    height:100%;
}

.header{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content: space-between;
    border-style: solid;
    border-color:#FAFAFA;
    border-bottom-color:rgb(200, 200, 200);
}

.goBack, .h1{
    margin-left:5%;
}

.title{
    display: flex;
    justify-content: space-between;
    width:100%;
}

.exportButton{
    margin-top:20px;
    margin-right:5%;
    border:1px solid lightgray;
    background-color:white;
    color:black;
    width:150px;
    height:50px;
}

/* Form card */
.card{
    background-color:white;
    display:flex;
    flex-direction: column;
    width:70%;
    margin-left:15%;
    margin-top: 50px;
    border:1px solid red;
}

.cardHeader{
    background-color:#DEF2E6;
    border-radius: 10px 10px 0 0;
    height:50px;
    border:1px solid red;
}

.cardTitle{
    margin-left:2%;
}

.orderData{
    display:flex;
    justify-content: space-between;
}

.formRow{
    display:flex;
    justify-content: space-between;
}

.formRowRadio{
    display:flex;
    flex-direction: column;
}

.input{
    background-color:white;
    color:black;
    border:1px solid black;
}

.labelInput{
    display:flex;
    flex-direction:column;
}

.inputRadio{
    border:1px solid red;
}

.bestellerSection{
    border:1px solid red;
    width:45%;
}

.ontvangerSection{
    border:1px solid red;
    width:45%;
}